<!DOCTYPE html>
<html lang="ko">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJ1GSCS8B4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NJ1GSCS8B4');
    </script>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title th:text="${dynamo.titleName}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/resume.css}">
</head>

<body id="page-top">
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" th:text="${dynamo.titleName}"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li th:each="menu : ${dynamo.menuName}" class="">
                    <a class="page-scroll" th:href="'#' + ${menu}" th:text="${menu}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--header-->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in" th:text="${dynamo.intro['lead']}"></div>
            <div id="writeText" class="intro-heading"></div>
            <a class="btn btn-xl page-scroll" th:href="${dynamo.intro['introUrl']}"><span th:text="${dynamo.intro['introBtn']}"></span></a>
        </div>
    </div>
    <div id="app">
        <canvas id="bg-canvas-top"></canvas>
    </div>
</header>

<!--profile section-->
<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary" th:text="${dynamo.profile['head']}"></h2>
                <h3 class="section-subheading text-muted" th:text="${dynamo.profile['subhead']}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="profile">
                    <img class="img-responsive img-circle" th:src="${dynamo.profile['imgUrl']}" alt="photo">
                    <h4 th:text="${dynamo.profile['name']}"></h4>
                    <h5 class="text-muted" th:text="${dynamo.profile['job']}"></h5>
                    <p class="text-muted"><i class="bi bi-envelope"></i><strong th:text="${dynamo.profile['email']}"></strong></p>
                    <ul class="list-inline social-buttons">
                        <li><a th:href="${dynamo.profile['gitUrl']}" target="_blank"><i class="bi bi-git"></i></a>
                        </li>
                        <li><a th:href="${dynamo.profile['githubUrl']}" target="_blank"><i class="bi bi-github"></i></a>
                        </li>
                        <li><a th:href="${dynamo.profile['homeUrl']}" target="_blank"><i class="bi bi-house-door"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <h3 class="text-primary" th:text="${dynamo.profile['toolHead']}"></h3>
                <div class="col-12 col-md-6">
                    <div th:each="usedTool : ${usedToolList.subList(0, 8)}">
                        <h4 th:text="'ㆍ' + ${usedTool.usedToolCategory}"></h4>
                        <p class="text-muted" th:text="${usedTool.usedToolName}"></p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div th:each="usedTool : ${usedToolList.subList(8, 16)}">
                        <h4 th:text="'ㆍ' + ${usedTool.usedToolCategory}"></h4>
                        <p class="text-muted" th:text="${usedTool.usedToolName}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-12 col-md-4">
                    <h3 class="text-primary" th:text="${dynamo.profile['experienceHead']}"></h3>
                    <div th:each="experience : ${experienceList}">
                        <h4 th:text="'ㆍ' + ${experience.experiencePeriod}"></h4>
                        <p class="text-muted" th:text="${experience.experienceName}"></p>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h3 class="text-primary" th:text="${dynamo.profile['competenciesHead']}"></h3>
                    <div th:each="introduction : ${introductionList}">
                        <h4 th:text="'ㆍ' + ${introduction.introductionTitle}"></h4>
                        <p class="text-muted" th:text="${introduction.introductionExplain}"></p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-lg-12 ml-5">
                <h3 class="text-primary" th:text="${dynamo.profile['introductionHead']}"></h3>
                <h4 th:text="'ㆍ' + ${dynamo.profile['introductionTitle']}"></h4>
                <p class="text-muted" th:utext="${dynamo.profile['introductionBody']}"></p>
            </div>
        </div>
    </div>
</section>

<!--license section-->
<section id="license" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary" th:text="${dynamo.license['head']}"></h2>
                <h3 class="section-subheading text-muted" th:text="${dynamo.license['subhead']}"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3" th:each="license : ${licenseList}">
                <i class="bi bi-award-fill"></i>
                <h4 class="license-heading" th:text="${license.licenseName}"></h4>
                <p class="text-muted"><strong th:text="${license.licenseAcquireDate}"></strong></p>
                <p class="text-muted"><strong th:text="${license.licenseNumber}"></strong></p>
            </div>
        </div>
    </div>
</section>

<!--career section-->
<section id="career">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary" th:text="${dynamo.career['head']}"></h2>
                <h3 class="section-subheading text-muted" th:text="${dynamo.career['subhead']}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li th:each="career, iterStat : ${careerList}" th:classappend="${iterStat.even} ? 'timeline-inverted' : ''">
                        <div class="timeline-image">
                            <h4><br><span th:text="${career.careerOrganization}"></span></h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 th:text="${career.careerPeriod}"></h4>
                                <h4 class="subheading" th:text="${career.careerTitle}"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" th:text="${career.careerExplain}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4 th:utext="${dynamo.career['last']}"></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--portfolio section-->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary" th:text="${dynamo.portfolio['head']}"></h2>
                <h3 class="section-subheading text-muted" th:utext="${dynamo.portfolio['subhead']}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" th:each="portfolio, iterStat : ${portfolioList}">
                <a th:href="'#portfolioModal' + ${iterStat.count}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img th:src="${portfolio.portfolioImgInfoDtoList[0].portfolioImgUrl}" th:alt="${portfolio.portfolioImgInfoDtoList[0].portfolioImgAlt}" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4 th:text="${portfolio.portfolioName}"></h4>
                    <p class="text-muted" th:text="${portfolio.portfolioSubject}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--contact section-->
<section id="contact">
    <canvas id="bg-canvas-contact"></canvas>
    <div class="container contact-content">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" th:text="${dynamo.contact['head']}"></h2>
                <h3 class="section-subheading" th:text="${dynamo.contact['subhead']}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject *" id="subject">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message *" id="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" th:data-label="${dynamo.contact['btn']}" class="send-email-btn" th:text="${dynamo.contact['btn']}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="list-inline">
                    <li><i class="bi bi-c-circle"></i><span class="copyright" th:text="${dynamo.profile['copyright']}"></span></li>
                    <li><i class="bi bi-envelope"></i><span class="copyright" th:text="${dynamo.profile['email']}"></span></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-inline social-buttons">
                    <li><a th:href="${dynamo.profile['gitUrl']}" target="_blank"><i class="bi bi-git"></i></a>
                    </li>
                    <li><a th:href="${dynamo.profile['githubUrl']}" target="_blank"><i class="bi bi-github"></i></a>
                    </li>
                    <li><a th:href="${dynamo.profile['homeUrl']}" target="_blank"><i class="bi bi-house-door"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-inline quicklinks">
                    <li><a th:href="${dynamo.profile['viewResumUrl']}" target="_blank"><i class="bi bi-link-45deg"></i> <span th:text="${dynamo.profile['viewResumBtn']}"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--project modal-->
<div  th:each="portfolio, iterStat : ${portfolioList}">
    <div class="portfolio-modal modal fade" th:id="'portfolioModal' + ${iterStat.count}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3 th:text="${portfolio.portfolioTitle}"></h3>
                            <p class="item-intro text-muted" th:text="${portfolio.portfolioSubtitle}"></p>
                            <div th:each="img : ${portfolio.portfolioImgInfoDtoList}">
                                <img class="img-responsive img-centered" th:src="${img.portfolioImgUrl}" th:alt="${img.portfolioImgAlt}">
                            </div>
                            <p class="item-explain" th:utext="${portfolio.portfolioExplain}"></p>
                            <ul class="list-block">
                                <li th:each="tool : ${portfolio.portfolioToolInfoDtoList}">
                                    <strong th:text="${tool.portfolioToolCategory} + ': '"></strong>
                                    <span th:text="${tool.portfolioToolName}"></span>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="bi bi-x-circle"></i> CLOSE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const introHead = /*[[${dynamo.intro['head']}]]*/ '';
    const nameValidateMsg = /*[[${dynamo.contact['nameValidateMsg']}]]*/ '';
    const emailValidateMsg = /*[[${dynamo.contact['emailValidateMsg']}]]*/ '';
    const emailPatternErrorMsg = /*[[${dynamo.contact['emailPatternErrorMsg']}]]*/ '';
    const subjectValidateMsg = /*[[${dynamo.contact['subjectValidateMsg']}]]*/ '';
    const textValidateMsg = /*[[${dynamo.contact['textValidateMsg']}]]*/ '';
    const sendSuccessMsg = /*[[${dynamo.contact['sendSuccessMsg']}]]*/ '';
    const sendFailMsg = /*[[${dynamo.contact['sendFailMsg']}]]*/ '';
    const redirectUrl = /*[[${dynamo.contact['redirectUrl']}]]*/ '';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.155.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/threejs-components@0.0.2/build/backgrounds/bokeh1.cdn.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script th:src="@{/js/resume.js}"></script>
<script type="module" th:src="@{/js/bokeh.js}"></script>
</body>
</html>